@page "/editemployee/{CurrentId}"

@using DataLayer.Model
@using DataLayer.Interface

@inject IEmployee services
@inject NavigationManager navigate

<header class="header-content header">
    <div class="logo-content">
        <img src="/assets/logo.png" alt="">
        <div>
            <span class="emp-text">EMPLOYEE</span><br>
            <span class="emp-text emp-payroll">PAYROLL</span>
        </div>
    </div>
</header>
<div class="form-content">
    <EditForm Model="@emp" OnSubmit="@Edit" class="form">
        <div class="form-head">Edit Employee Details </div>
        <div class="row-content">
            <label class="label text" for="name">Name</label>
            <input class="input" type="text" id="name" name="name"
                   placeholder="Your name.." @bind-value="@emp.name" required>
            <error-output class="name-error" for="text"></error-output>
        </div>
        <div class="row-content">
            <label class="label text" for="profile">Profile image</label>
            <div class="profile-radio-content">
                <label>
                    <input type="checkbox" id="profile1" name="profile"
                           value="/assets/Ellipse -3.png"
                           @onchange="@(()=>AddImg("/assets/Ellipse -3.png"))">
                    <img class="profile" id='image1' src="/assets/Ellipse -3.png">
                </label>
                <label>
                    <input type="checkbox" id="profile2" name="profile"
                           value="/assets/Ellipse -4.png"
                           @onchange="@(()=>AddImg("/assets/Ellipse -4.png"))">
                    <img class="profile" id='image2' src="/assets/Ellipse -4.png">
                </label>
                <label>
                    <input type="checkbox" id="profile3" name="profile"
                           value="/assets/Ellipse -5.png"
                           @onchange="@(()=>AddImg("/assets/Ellipse -5.png"))">
                    <img class="profile" id='image3' src="/assets/Ellipse -5.png">
                </label>
                <label>
                    <input type="checkbox" id="profile4" name="profile"
                           value="/assets/Ellipse -7.png"
                           @onchange="@(()=>AddImg("/assets/Ellipse -7.png"))">
                    <img class="profile" id='image4' src="/assets/Ellipse -7.png">
                </label>
            </div>
        </div>
        <div class="row-content">
            <label class="label text" for="gender">Gender</label>
            <div>
                <select asp-for="Gender" class="form-control" @bind="@emp.gender">
                    <option value="">-- Select Gender --</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
        </div>
        <div class="row-content">
            <label class="label text" for="department">Department</label>
            <div>
                <select asp-for="Department" class="form-control" @bind="@emp.Department">
                    <option value="">-- Select Department --</option>
                    <option value="HR">HR</option>
                    <option value="Sales">Sales</option>
                    <option value="Finance">Finance</option>
                    <option value="Engineer">Engineer</option>
                    <option value="Others">Others</option>
                </select>
            </div>
        </div>
        <div class="row-content">
            <label class="label text" for="salary">Salary: </label>
            <input class="Salaryinput" @bind="@emp.Salary" type="number" name="salary" id="salary" min="300000"
                   defaultvalue="250000" max="500000" step="1000">
        </div>
        <div class="row-content">
            <label class="label text" for="startDate">Start Date</label>
            <div>
                <input class="DateInput" type="date" @bind="@emp.SatrtDate" placeholder="">
            </div>
        </div>
        <div class="row-content">
            <label class="label text" for="notes">Notes</label>
            <textarea id="notes" @bind="@emp.Note" class="input" name="Notes" placeholder="" style="height:100px"></textarea>
        </div>
        <div class="button-content">
            <button class="resetButton button cancelButton"
                    @onclick="@(()=>Home())"> Cancel
            </button>
            <div class="submit-reset">
                <button type="submit" class="button submitButton" id="submitButton">save Changes</button>
            </div>
        </div>
    </EditForm>
</div>

@code {
    [Parameter]
    public string CurrentId { get; set; }
    EmployeeModel emp = new EmployeeModel();

    protected void Edit()
    {
        services.Update(emp);
        navigate.NavigateTo("/Dashboard");
    }

    protected void AddImg(string img)
    {
        emp.ProfileImage = img;
    }

    protected void Home()
    {
        navigate.NavigateTo("/Dashboard");
    }

    protected override async Task OnInitializedAsync()
    {
        emp = await Task.Run(() => services.GetemployeeDetails(CurrentId));
    }
}
